/* ====================================GLOBAL: */
#all-wrapper {
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 95%;
}

.hidden{
      display: none;
}

h1{
    text-align: center;
    margin-top: 5rem;
}

/* ====================================CHOOSE: */

#choose-view{
    flex:1;
    min-width: 45%;
    height: 90vh;
}

#result-view {
    min-width: 45%;
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* -------- GRID: */
.grid-container {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  /* background-color: #2196F3; */
  padding: 5rem 1rem 1rem 4rem;
}
.gr-item {
  padding: 2px;
  text-align: center;
  height: 2rem;
  margin: 0.05rem;
  font-size: 0.8rem;
  color: white;
}

.gr-item:hover{
  opacity: 0.2;
}

.nirl,
.wales,
.engl{
    cursor: pointer;
}

.nirl{
  background-color: #1C7317;
}

.wales{
  background-color: #F2D230;
}

.engl{
  background-color: #D92534;
}

#select-dropdown{
    margin-left:25%;
}


.force-id-show{
    text-align: center;
}

/* ====================================RESULTS: */
result-view{
    max-height: 95vh;
    display: flex;
    flex-direction: column;
}

#neighbourhoodDescription{
    height: 10rem;
    overflow: scroll;
}


#mapid { 
    margin: 1rem;
    height: 15rem;
    background-color: rgba(250, 250, 250, 0.8);
}